from {{ proto_package }} import {{ proto_module }}

{% for service in services %}
class {{ service.name }}CustomClient:
{% for method in service.methods %}

    def Call{{ method.name }}(self, input: {{ proto_module }}{{ method.input_type }}) -> {{ proto_module }}{{ method.output_type }}:
        pass
{%- endfor %}
{%- endfor %}
